.nav-wrper .logo a, h1, h2, h3, h4, h5, h6 {
	color: #565656;
}

.nav-wrper ul a {
	color: #4287ff;
}

nav ul li a:hover {
	background-color: transparent;
	color: #8989ff;
}
nav {
    border-bottom: 1px solid #d6d6d6;
}